<div class="row">
  <h2>
    <span ng-bind="someone"></span><span>Posts</span><a class="btn btn-success pull-right" href="/#/posts/{{current_user.id}}/add" ng-show="user_authenticated &amp;&amp; post.user_id == current_user.id">Adicionar</a>
  </h2>
  <br /><br />
  <div class="panel panel-default" ng-repeat="post in posts">
    <div class="panel-body">
      <div class="col-md-10">
        <span ng-bind="post.content"></span>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-sm glyphicon glyphicon-pencil" href="/#/posts/{{post.user_id}}/edit/{{post.id}}" ng-show="post.user_id == current_user.id"></a><button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="delete_post(post)" ng-show="current_user.is_admin"></button>
      </div>
    </div>
  </div>
</div>