<div class="row">
  <h3>
    Edit Post
  </h3>
  <br /><br />
  <div class="row col-md-8">
    <textarea class="form-control" ng-model="post.content" rows="6"></textarea>
  </div>
  <div class="row col-md-5">
    <br /><br /><button class="btn btn-success" ng-click="edit_post(post)">Update</button>
  </div>
</div>