<h3>
  Users
</h3>
<div class="panel panel-default" ng-repeat="user in users">
  <div class="panel-body">
    <div class="col-md-6">
      <h4 ng-bind="user.name"></h4>
      <span ng-bind="user.email"></span>
    </div>
    <div class="col-md-4">
      <a href="/#/posts/{{user.id}}/list">View posts</a><br /><a href="#" ng-click="delete(user)" ng-show="user_authenticated &amp;&amp; current_user.is_admin">Delete user</a>
    </div>
    <div class="col-md-2">
      <h5>
        {{ user.followers }} followers
      </h5>
      <button class="btn btn-primary" ng-click="follow(user)" ng-show="!user.is_followed &amp;&amp; user_authenticated">Follow</button><button class="btn btn-default" ng-click="unfollow(user)" ng-show="user.is_followed &amp;&amp; user_authenticated">Unfollow</button>
    </div>
  </div>
</div>