h3 Users

.panel.panel-default[ng-repeat="user in users"]
  .panel-body
    .col-md-6
      h4[ng-bind="user.name"]
      span[ng-bind="user.email"]
    .col-md-4
      a[href="/#/posts/{{user.id}}/list"] View posts
      br
      a[href="#" ng-click="delete(user)" ng-show="user_authenticated && current_user.is_admin"] Delete user
    .col-md-2
      h5 ="{{ user.followers }} followers"
      button.btn.btn-primary[ng-click="follow(user)" ng-show="!user.is_followed && user_authenticated"] Follow
      button.btn.btn-default[ng-click="unfollow(user)" ng-show="user.is_followed && user_authenticated"] Unfollow
