<div class="row">
  <h2>
    My Followers
  </h2>
  <div class="panel panel-default col-md-4" ng-repeat="follower in followers">
    <div class="panel-body">
      <h4 ng-bind="follower.name"></h4>
      <span ng-bind="follower.email"></span>
    </div>
  </div>
</div>
<div class="row">
  <h2>
    My Followings
  </h2>
  <div class="user_followings" ng-repeat="following in followings">
    <div class="panel panel-default col-md-3">
      <div class="panel-body">
        <h4 ng-bind="following.name"></h4>
        <span ng-bind="following.email"></span>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>