.row
  h2
    span[ng-bind="someone"]
    span Posts
    a.btn.btn-success.pull-right[href="/#/posts/{{current_user.id}}/add" ng-show="user_authenticated && post.user_id == current_user.id"] Adicionar
  br
  br
  .panel.panel-default[ng-repeat="post in posts"]
    .panel-body
      .col-md-10
        span[ng-bind="post.content"]
      .col-md-2
        a.btn.btn-primary.btn-sm.glyphicon.glyphicon-pencil[href="/#/posts/{{post.user_id}}/edit/{{post.id}}" ng-show="post.user_id == current_user.id"]
        button.btn.btn-danger.btn-sm.glyphicon.glyphicon-trash[ng-click="delete_post(post)" ng-show="current_user.is_admin"]
