h2
  | Log in
form[url='', onsubmit="return false"]
  .field
    label[name="email"]
    br
    input[type="email" autofocus=true ng-model="email"]
  .field
    label[name="password"]
    br
    input[type="password" autocomplete="off" ng-model="password"]
  .actions
    button[ng-click="login()"] Log in
