.row
  h2 My Followers
  .panel.panel-default.col-md-4[ng-repeat="follower in followers"]
   .panel-body
    h4[ng-bind="follower.name"]
    span[ng-bind="follower.email"]

.row
  h2 My Followings
  .user_followings[ng-repeat="following in followings"]
   .panel.panel-default.col-md-3
    .panel-body
     h4[ng-bind="following.name"]
     span[ng-bind="following.email"]
   .col-md-1
