doctype html
html[ng-app="trycatch"]
  head
    title TryCatch Profiency
    == stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags

  body[ng-controller="LogInController"]
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          == link_to "TryCatch Proficency", "/#/", class: "navbar-brand"
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            - if user_signed_in?
              li = link_to "Users", "/#/"
              li = link_to "Follows", "/#/follows"
              li = link_to "Posts", "/#/posts/#{current_user.id}/list"
            - else
              li = link_to "Users", "/#/user"
          ul.nav.navbar-nav.pull-right
            li[ng-show="user_authenticated"] = link_to "Logout" , destroy_user_session_path, method: :delete
            li[ng-show="!user_authenticated"] = link_to "Login" , root_path

    .container
      br
      br
      == yield
